.card {
    $self: &;
    --card-header-fz: var(--step-1);
    --card-categories-fz: var(--step-n2);
    --card-container-display: initial;
    --card-container-flex-direction: column;
    --card-container-width: 100%;
    --card-container-align-items: flex-start;
    --card-top-flex-direction: column;
    --card-bottom-order: initial;
    --card-bottom-margin-top: var(--space-2xl);
    --card-line-margin-left: 0;
    --card-line-units-margin-left: 0;
    --card-line-units-color: currentColor;
    display: flex;
    flex-direction: column;
    max-width: calc(var(--container-max-width) - (var(--container-padding-x) * 2) - (var(--list-padding-x, 0px) * 2));

    &.active {
        --card-header-fz: var(--step-3);
        --card-categories-fz: var(--step-1);
        padding-bottom: var(--space-3xs);
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        top: 10%;
        z-index: $zindex-card-fixed;
        width: calc(100% - (var(--container-padding-x) * 2) - (var(--list-padding-x, 0px) * 2));
        pointer-events: none;

        @include media-breakpoint-up(900px) {
            top: 30%;
        }

        #{$self}__title {
            white-space: break-spaces;
        }

        #{$self}__container {
            height: auto;
            padding: var(--space-xs);
            pointer-events: all;
        }

        #{$self}__options {
            display: flex;
            pointer-events: all;
        }
    }

    &.outdated {
        #{$self}__container {
            &::before {
                display: block;
            }
        }
    }

    &--list {
        --card-header-fz: var(--step-0);
        --card-categories-fz: var(--step-n2);
        --card-container-display: flex;
        --card-container-align-items: center;
        --card-container-flex-direction: row;
        --card-top-flex-direction: row;
        --card-bottom-margin-top: 0;
        --card-bottom-order: -1;
        --card-line-margin-left: var(--space-xs);
        --card-line-units-margin-left: var(--space-2xs);
        --card-line-units-color: var(--theme-color-muted);
        flex-wrap: wrap;

        &.active {
            --card-header-fz: var(--step-1);
            --card-categories-fz: var(--step-n2);
        }
    }

    &__container {
        width: var(--card-container-width);
        position: relative;
        padding: var(--space-2xs);
        border-radius: rem(8);
        background: var(--theme-color-body);
        display: var(--card-container-display);
        flex-direction: var(--card-container-flex-direction);
        justify-content: space-between;
        align-items: var(--card-container-align-items);
        border: 2px solid transparent;
        transition:
            background ease $duration-fast,
            border-color ease $duration-fast;
        cursor: pointer;

        &:hover {
            background: var(--theme-color-body);
            border-color: var(--theme-color-gray);
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
            width: var(--space-xs);
            height: var(--space-xs);
            display: none;
            background: var(--theme-color-secondary);
            border-radius: 50%;
            border: calc(var(--space-3xs) / 1.5) solid var(--theme-color-body);
        }
    }

    &__top {
        display: flex;
        flex-direction: var(--card-top-flex-direction);
    }

    &__bottom {
        margin-top: var(--card-bottom-margin-top);
        order: var(--card-bottom-order);
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--card-header-fz);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.04em;
        transition: font-size ease $duration-fast;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        font-size: var(--card-categories-fz);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.04em;
        transition: font-size ease $duration-fast;
        margin-left: var(--card-line-margin-left);
    }

    &__line-units {
        margin-left: var(--card-line-units-margin-left);
        color: var(--card-line-units-color);
    }

    &__links {
        margin-top: calc(var(--space-s) * -1);

        > * {
            margin-top: var(--space-s);
        }
    }

    &__options {
        display: none;
        flex-direction: column;
        height: fit-content;
        width: 50%;
        margin-left: auto;
        flex: 0 0 auto;
    }

    &__options-row {
        margin-top: var(--space-3xs);
        background: var(--theme-color-body);
        border-radius: rem(8);
        padding: var(--space-s);
    }

    &__btns {
        @include make-row(var(--space-3xs), 0);
        margin-top: auto;
        display: flex;

        > * {
            width: 50%;
            @include make-col-ready();
        }
    }
}
