.link {
    --link-color: #{var(--theme-color-text)};
    --link-hover-opacity: 0.7;
    --link-font-size: #{var(--step-0)};

    color: var(--link-color);
    transition: color ease $duration-fast;
    font-size: var(--link-font-size);
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: none;
    text-transform: uppercase;
    text-align: left;

    &:hover {
        opacity: var(--link-hover-opacity);
    }

    @each $color, $value in $theme-colors {
        &--#{$color} {
            --link-color: #{$value};
        }
    }

    &--centered {
        display: block;
        margin: auto;
        text-align: center;
    }
}
