.logo {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--space-l);
    padding: var(--space-3xs) var(--space-s);
    background: var(--theme-color-text);
    border-radius: 50px;
    font-size: var(--step-2);
    line-height: 1;
    margin: 0;
    font-weight: 700;
    color: var(--theme-color-body);
    letter-spacing: -0.05em;
    text-transform: uppercase;

    &__icon {
        display: block;
        height: 100%;
        position: relative;
        width: var(--step-2);
        margin-left: calc(var(--space-2xs) * -1);
        margin-right: var(--space-3xs);

        > svg {
            width: 100%;
            height: 100%;
        }
    }
}
