.backdrop {
    display: block;
    width: 0;
    height: 0;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba($white, .4);
    backdrop-filter: blur(13px);
    transition: opacity 0.2s;
    opacity: 0;
    
    &.active {
        opacity: 1;
        width: 100vw;
        height: 100vh;
    }
}