.card {
    $self: &;
    --card-header-fz: var(--step-1);
    --card-categories-fz: var(--step-n2);
    display: flex;

    &.active {
        --card-header-fz: var(--step-3);
        --card-categories-fz: var(--step-1);
        padding-bottom: var(--space-3xs);

        #{$self}__title {
            white-space: break-spaces;
        }

        #{$self}__container {
            aspect-ratio: initial;
            width: 64%;
            height: auto;
            padding: var(--space-xs);
        }

        #{$self}__options {
            display: flex;
        }
    }

    &.outdated {
        #{$self}__container {
            &::before {
                display: block;
            }
        }
    }

    &__container {
        width: 100%;
        position: relative;
        padding: var(--space-2xs);
        border-radius: rem(8);
        background: $gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid transparent;
        transition:
            background ease $duration-fast,
            border-color ease $duration-fast;
        cursor: pointer;

        &:hover {
            background: $white;
            border-color: $gray;
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
            width: var(--space-xs);
            height: var(--space-xs);
            display: none;
            background: $secondary;
            border-radius: 50%;
            border: calc(var(--space-3xs) / 1.5) solid $white;
        }
    }

    &__bottom {
        margin-top: var(--space-2xl);
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--card-header-fz);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.04em;
        transition: font-size ease $duration-fast;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        font-size: var(--card-categories-fz);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.04em;
        transition: font-size ease $duration-fast;
    }

    &__link {
        margin-bottom: var(--space-2xs);
    }

    &__options {
        display: none;
        flex-direction: column;
        padding: var(--space-xs);
        height: auto;
        width: calc(36% - var(--space-2xs));
        margin-left: var(--space-2xs);
        flex: 0 0 auto;
        background: $gray;
        border-radius: rem(8);
    }

    &__btns {
        @include make-row(var(--space-3xs), 0);
        margin-top: auto;
        display: flex;

        > * {
            width: 50%;
            @include make-col-ready();
        }
    }
}
