.card {
    $self: &;

    &.active {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow-y: auto;
        padding: rem(20);
        max-width: rem(300);
        z-index: 9999;

        @include media-breakpoint-up(700px) {
            max-width: rem(500);
        }

        #{$self}__container {
            margin-top: rem(20);
            background: $white;
            border-color: $gray;
            cursor: auto;
        }
    }

    &.outdated {
        #{$self}__container {
            &::before {
                display: block;
            }
        }
    }

    

    &__container{
        position: relative;
        aspect-ratio: 1/1;
        padding: rem(7);
        border-radius: rem(8);
        background: $gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid transparent;
        transition: background 0.2s, border-color 0.2s;
        cursor: pointer;

        &:hover {
            background: $white;
            border-color: $gray;
        }

        &::before {
            content: '';
            position: absolute;
            right: rem(-8);
            top: rem(-8);
            width: rem(8);
            height: rem(8);
            display: none;
            background: $secondary;
            border-radius: 50%;
            border: rem(4) solid $white;
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        margin-top: rem(20);
        display: none;
        flex-direction: column;

        &.active {
            display: flex;
        }
    }
}