.card {
    aspect-ratio: 1/1;
    padding: rem(7);
    border-radius: rem(8);
    background: $gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__line {
        display: flex;
        justify-content: space-between;
    }

    &.active {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: rem(200);
    }
}