.chips {
    --flex-gap: #{var(--space-3xs)};
    display: flex;
    margin: calc(var(--flex-gap) * -0.5);
    
    &__item {
        margin: calc(var(--flex-gap) / 2);
        height: var(--space-l);
        padding: 0 var(--space-xs);
        border: 1px solid $primary;
        background: $white;
        border-radius: 50px;
        color: $black;
        display: flex;
        align-items: center;
        font-size: var(--step-1);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.04em;
    }
}