.header {
    &__logo {
        display: flex;
        align-items: center;
        height: var(--space-l);
        padding: var(--space-3xs) var(--space-s);
        background: $black;
        border-radius: 50px;
        font-size: var(--step-2);
        line-height: 1;
        margin: 0;
        font-weight: 700;
        color: $white;
        letter-spacing: -0.05em;
        text-transform: uppercase;
    }

    &__logo-icon {
        display: block;
        height: 100%;
        position: relative;
        aspect-ratio: 1/1;
        margin-left: calc(var(--space-2xs) * -1);
        margin-right: var(--space-3xs);
    }

    &__top {
        height: calc(var(--space-2xl) - var(--space-2xs));
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__bottom {
        padding: var(--container-padding-x);
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: $zindex-header;
        pointer-events: none;
    }

    &__inner {
        display: flex;
        width: 100%;
        max-width: var(--container-max-width);
        padding: 0 var(--container-padding-x);
        align-items: center;
    }

    &__element {
        flex: 0 0 auto;
        width: 20%;
        display: flex;
        align-items: flex-start;

        &:last-child {
            align-items: flex-end;
        }
    }

    &__title {
        flex: 0 0 auto;
        width: 60%;
        text-align: center;
        font-size: var(--step-2);
        letter-spacing: -0.04em;
        font-weight: 600;
        line-height: 1.2;
    }

    &__nav {
        width: fit-content;
        display: flex;
        padding: var(--space-2xs);
        background: $black;
        border-radius: 50px;
        pointer-events: all;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--space-l);
        height: var(--space-l);
        border-radius: 50px;
        text-decoration: none;
        background: $white;
        color: $black;
        transition: ease opacity $duration-fast;

        &:hover {
            opacity: 0.7;
        }

        &--active {
            background: $primary;
        }

        & + & {
            margin-left: rem(8);
        }
    }

    &__icon {
        position: relative;
        width: var(--space-s);
        height: var(--space-s);
    }
}
