.input {
    display: block;
    margin-bottom: var(--input-margin);
    position: relative;

    &__label {
        display: block;
        margin-bottom: var(--space-2xs);
        color: $muted;
        font-size: var(--step-n1);
        text-transform: uppercase;
        font-weight: 600;
    }

    &__input {
        font-size: var(--step-1);
        height: var(--space-xl);
        padding: var(--space-3xs) var(--space-xs);
        width: 100%;
        border-radius: rem(8);
        border: 1px solid $muted;
        background-color: $white;
        font-weight: 600;
        letter-spacing: -0.04em;
        font-family: $font-face;
    }

    &__button {
        position: absolute;
        margin: auto;
        right: var(--space-xs);
        height: var(--space-xl);
        bottom: 0;
    }
}
