.list {
    --list-title-font-size: var(--step-3);
    --list-items-display: none;
    --list-header-padding-top: var(--space-l);
    --list-header-padding-bottom: 0;
    --gap: #{var(--space-3xs)};
    padding: var(--space-2xs);
    border-radius: rem(8);
    background: $gray;
    width: 100%;
    margin-bottom: var(--space-xs);

    &.active {
        --list-items-display: flex;
        --list-header-padding-top: 0;
        --list-header-padding-bottom: var(--space-2xs);
        --list-title-font-size: var(--step-0);
    }

    &__header {
        transition: padding $duration-fast;
        position: relative;
        display: flex;
        flex: 0 0 100%;
        padding-top: var(--list-header-padding-top);
        padding-bottom: var(--list-header-padding-bottom);
        align-items: baseline;
    }

    &__title {
        font-size: var(--list-title-font-size);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.04em;
        transition: font-size $duration-fast;
        margin-right: var(--space-s);
    }

    &__count {
        font-family: Manrope;
        font-size: var(--step-0);
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.04em;
        margin-left: auto;
    }

    &__toggle-active {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__items {
        @include make-row(var(--gap), var(--gap));
        display: var(--list-items-display);
        flex-wrap: wrap;
    }

    &__item {
        @include make-col-ready();

        flex: 0 0 auto;
        width: 50%;

        @include media-breakpoint-up(375px) {
            width: 33%;
        }

        @include media-breakpoint-up(900px) {
            width: 20%;
        }

        &.active {
            flex: 0 0 auto;
            width: 100%;

            @include media-breakpoint-up(900px) {
                width: 100%;
            }
        }
    }

    &__button {
        margin-left: auto;

        > svg,
        img {
            display: block;
            height: var(--space-s);
            width: var(--space-s);
        }
    }
}
