.list {
    --gap: #{rem(12)};
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: rem(32);

    &__title {
        margin-bottom: rem(4);
    }

    &__header {
        flex: 0 0 100%;
        border-bottom: 1px solid $black;
        margin-bottom: rem(12);
    }

    &__item {
        margin: calc(var(--gap) / 2);
        flex: 0 0 calc(33.33% - var(--gap));

        @include media-breakpoint-up(600px) {
            flex: 0 0 calc(20% - var(--gap));
        }

        @include media-breakpoint-up(900px) {
            flex: 0 0 calc(10% - var(--gap));
        }
    }
}