.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: var(--theme-color-primary);
    display: none;

    &::before {
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        display: block;
        width: 50%;
        height: 100%;
        background: linear-gradient(
            to right,
            var(--theme-color-primary) 0%,
            rgba(var(--theme-color-body), 0.4) 50%,
            var(--theme-color-primary) 100%
        );
        animation: loading-animation 0.7s $duration-fast infinite;
    }

    &.show {
        display: block;
    }
}

@keyframes loading-animation {
    0% {
        transform: translate(-100%, 0%);
    }

    25% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(200%, 0%);
    }
}
