.toasts {
    --toast-type: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;

    &__container {
        max-width: rem(375);
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: var(--space-xs);
    }

    &__item {
        position: relative;
        font-size: var(--step-n1);
        width: 100%;
        padding: var(--space-xs);
        padding-left: calc(var(--space-3xs) + var(--space-xs));
        border-radius: var(--space-2xs);
        margin-bottom: var(--space-2xs);
        background: $gray;
        overflow: hidden;
        display: none;

        &--error {
            --toast-type: #{$secondary};
        }

        &--success {
            --toast-type: #{$primary};
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            content: "";
            width: var(--space-3xs);
            display: block;
            background: var(--toast-type);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.show {
            display: block;
        }
    }
}
