$font-size-base: 16;
$font-face: "Manrope", "Helvetica", "Arial", sans-serif;

$black: #050401;
$white: #fffaff;
$primary: #30bced;
$secondary: #fc5130;
$muted: #b8bdc2;
$gray: #eff0f0;

$body: $white;
$text: $black;

$muted-inverted: #5b5b5b;
$gray-inverted: #3f3f3f;
$text-inverted: #ffffff;
$body-inverted: #19191a;

$theme-light: (
    "primary": $primary,
    "secondary": $secondary,
    "muted": $muted,
    "gray": $gray,
    "text": $black,
    "body": $body,
    "button-text": $black,
    "body-transparent": rgba($body, 0),
    "body-loading": rgba($body, 0.4),
    "modal-backdrop": rgba($black, 0.4),
    "intro-card-shadow": rgba($black, 0.01),
);

$theme-dark: (
    "primary": $primary,
    "secondary": $secondary,
    "muted": $muted,
    "gray": $gray-inverted,
    "text": $text-inverted,
    "body": $body-inverted,
    "button-text": $black,
    "body-transparent": rgba($body-inverted, 0),
    "body-loading": rgba($body-inverted, 0.4),
    "modal-backdrop": rgba($black, 0.5),
    "intro-card-shadow": rgba($black, 0.3),
);

$theme-colors: (
    "primary": var(--theme-color-primary),
    "secondary": var(--theme-color-secondary),
    "muted": var(--theme-color-muted),
    "gray": var(--theme-color-gray),
    "text": var(--theme-color-text),
    "body": var(--theme-color-body),
    "button-text": var(--theme-color-button-text),
);

$ease-default: cubic-bezier(0.65, 0, 0.35, 1);

$duration-fast: 0.3s;

$zindex-fixed: 999;
$zindex-backdrop: $zindex-fixed - 1;
$zindex-header: $zindex-backdrop - 1;
