$font-size-base: 16;
$font-face: 'Manrope', 'Helvetica', 'Arial', sans-serif;

$primary: #30BCED;
$secondary: #FC5130;
$muted: #B8BDC2;
$gray: #EFF0F0;
$black: #050401;
$white: #FFFAFF;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "muted": $muted,
    "gray": $gray,
    "black": $black,
    "white": $white
)