$font-size-base: 16;
$font-face: "Manrope", "Helvetica", "Arial", sans-serif;

$primary: #30bced;
$secondary: #fc5130;
$muted: #b8bdc2;
$gray: #eff0f0;
$black: #050401;
$white: #fffaff;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "muted": $muted,
    "gray": $gray,
    "black": $black,
    "white": $white,
);

$duration-fast: 0.3s;

$zindex-fixed: 999;
$zindex-backdrop: $zindex-fixed - 1;
$zindex-header: $zindex-backdrop - 1;
